<h3>Listing galleries</h3>

<%= link_to 'New Gallery', new_gallery_path, class: 'button small' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td style="width: 70%"><%= gallery.name %></td>
        <td style="width: 30%">
          <ul class="button-group">
            <li><%= link_to 'Show', gallery, class: 'button tiny' %></li>
            <li><%= link_to 'Edit', edit_gallery_path(gallery), class: 'button tiny' %></li>
            <li><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert' %></li>
          </ul>
        </td>
      </tr>
    <% end %>
    <% if @galleries.size == 0 %>
      <tr>
        <td colspan="2">No galleries</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Gallery', new_gallery_path, class: 'button small' %>
