<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Image Gallery" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar foundation-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
         <h1><a href="/">Image Gallery</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul>
          <li><a href="http://foundation.zurb.com/docs/">Galleries</a></li>
        </ul>
      </section>
    </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
